/*  Couleur premiere triade: 1: #78c6e0, 2: #0076d5, 3: #0b2341 */

.container{
    margin-top: 2%;
}

label{
    color: #0076d5;
}

input::placeholder {
    opacity: 0.8 !important;
}

.inputChiffre {
    margin-left: auto;
    width: 12% !important;
}

.inputCourriel {
    margin-left: auto;
    width: 50% !important;
}

h1{
    font-family: alumni;
    color: #0076d5;
}