/* CSS GESTION 3R */
/*  Couleur premiere triade: 1: #78c6e0, 2: #0076d5, 3: #0b2341 */

@font-face {
    font-family: alumni;
    src: url("../fonts/AlumniSans-ExtraBold.ttf");
}

html,
body {
    background-color: black;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: #78c6e0;
    margin: 10px;
}
