/* CSS GESTION 3R */

@font-face {
    font-family: alumni;
    src: url("../fonts/AlumniSans-ExtraBold.ttf");
}

html,
body {
    background-color: black;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: green;
    margin: 10px;
}
