/*  Couleur premiere triade: 1: #78c6e0, 2: #0076d5, 3: #0b2341 */

.imgFormat {
    width: 1%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 3px solid #0b2341;
}

.btImage {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
